# Compilados Java
*.class

# Arquivos de log
*.log

# Arquivos e diretórios do IntelliJ IDEA
/.idea/
/*.iml
/shelf/
/workspace.xml
/httpRequests/

# Arquivos de configuração locais (IDE)
mavenHomeManager.xml
/dataSources/
/dataSources.local.xml

# Arquivos temporários e de ambiente
*.tmp
*.swp
.DS_Store

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Arquivos de pacotes e builds
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Dumps de crash da JVM
hs_err_pid*

# Pastas de build e dependências comuns
/build/
/target/
/out/

# Diretórios do Maven ou Gradle
/.mvn/
/.gradle/
/!gradle/wrapper/gradle-wrapper.jar

# Outros arquivos de sistema/IDE
Thumbs.db